{% load static %} 
<html>
<head>
	<title>Прикладное ПО Отческий</title>
	<link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
	<div>
		<h1><a href="/">Домашняя страница</a></h1>
	</div>
	<div class="content_container" >
		<div class="row">
			<div class="col-md-8"> 
				{% for post in posts %}
				<div class="post">
					<div class="date">
						<p>Создано: {{ post.created_date }}</p>
					</div>
					{% for post in post_list %}
					<h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1> 
					{% endfor %}
					<p>{{ post.text|linebreaksbr }}</p> 
					<div class="price">
						<p>Цена: {{ post.price }}</p>
					</div> 
				</div> 
				{% endfor %}
			</div> 
		</div>
	</div>


</body>
</html>
